# configs
just.config.js
**/.eslintrc.js
**/tsconfig.js
lage.config.js
**/*.config.js

# generated folders
__snapshots__
.cache
dist
lib
lib-amd
lib-commonjs
node_modules

# template files which actually follow a different language's formatting
_templates

# Gatsby
apps/docsite-frontend/__examples__/*

# Strapi
apps/docsite-cms/**/*