{
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 90,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.types.ts"],
      "options": {
        "printWidth": 260
      }
    }
  ]
}
